body
{
    background-color: black;
    background-image: url(Images/bckg.jpg);
    background-size: 50%;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
#menu
{
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.75);
}

#menu a
{
    text-decoration: none;
}

.menuitem
{
    width: 22vw;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.75);
    color: white;
    font-family: 'Poppins', sans-serif;;
}

#logo
{
    height: 50px;
    width: 50px;
    margin: 10px;
    vertical-align: middle;
    align-self: flex-start;
}

#logo:hover
{
    transition: linear 0.1s;
    transform: rotate(45deg);
}

#logo:active
{
    transition: linear 0.15s;
    transform: rotate(90deg);
}

#main
{
    height: 2500px;
}