body
{
    background-color: black;
    background-image: url("Images/earth-at-night-view-from-space-4k-wallpaper-1980x1114.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    margin: 0px;
}

#head
{
    height: 44vh;
    width: 100%;
    margin: 0px;
    margin-bottom: 43vh;
    display: flex;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
#head h1
{
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 64px;
    margin: auto;
    background-color: rgba(25, 25, 25, 0.75);
}

#bottom
{
    width: 100%;
    min-height: 450px;
    height: auto;
    margin-bottom: 0px;
    /**background-color: rgba(25, 25, 25, 0.85);**/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shipbox
{
    width: 400px;
    min-height: 550px;
    margin: 15px;
    background-color: rgba(25, 25, 25, 0.75);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
}

.shipbox:active
{
    transform: scale(1.05);
}

.shipbox h2
{
    height: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    position: sticky;
    top: 0;
}

.shipbox h2:hover
{
    background-color: rgba(65, 65, 65, 0.2);
}

.shipbox img
{
    width: 100%;
    height: 500px;
    margin: 0px;
    object-fit: contain;  
}

.shipbox img:hover
{
    transform: scale(0.95);
}

#footer
{
    height: 90px;
    width: 100%;
    margin-top: 50px;
    background-color: rgba(25, 25, 25, 0.75);
    display: flex;
    justify-content: center;
}

#footer a
{
    vertical-align: middle;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

#homebuton
{
    position: sticky;
    top: 45px;
    height: 65px;
    width: 65px;
    margin: 10px;
}

#homebuton:hover
{
    transition: linear 0.1s;
    transform: rotate(45deg);
}

#homebuton:active
{
    transition: linear 0.15s;
    transform: rotate(90deg);
}

#homebuton img
{
    height: 50px;
    width: 50px;
}

a
{
    text-decoration: none;
}

#artl
{
    margin: 50px;
    margin-top: 75px;
    padding: 15px;
    padding-left: 30px;
    background-color: rgba(25, 25, 25, 0.75);
    font-family: 'Poppins', sans-serif;;
}

#artl div p
{
    color: white;
    display: inline-block;
    margin-top: 35px;
    max-width: 60%;
}

#artl div
{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 60% 40%;
    margin-left: 15px;
    margin-right: 15px;
}

#artl h3
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 40px;
    columns: 1;
}

#artl div img
{
    display: inline-block;
    height: auto;
    max-height: 300px;
    width: 40%;
    min-width: 250px;
    object-fit: cover;
    columns: 3;
}