body
{
    background-color: black;
    background-image: url("Images/earth-at-night-view-from-space-4k-wallpaper-1980x1114.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    margin: 0px;
}

#head
{
    height: 50vh;
    width: 100%;
    margin: 0px;
    margin-bottom: 43vh;
    display: flex;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
#head h1
{
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 64px;
    margin: auto;
    background-color: rgba(25, 25, 25, 0.75);
}

#bottom
{
    width: 100%;
    min-height: 450px;
    height: auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shipbox
{
    width: 400px;
    min-height: 550px;
    margin: 15px;
    background-color: rgba(25, 25, 25, 0.75);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
}

.shipbox:active
{
    transform: scale(1.05);
}

.shipbox h2
{
    height: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    top: 0;
}

.shipbox h2:hover
{
    background-color: rgba(65, 65, 65, 0.2);
}

.shipbox img
{
    width: 100%;
    height: 500px;
    margin: 0px;
    object-fit: contain;  
}

.shipbox img:hover
{
    transform: scale(0.95);
}

#footer
{
    height: 90px;
    width: 100%;
    margin-top: 50px;
    background-color: rgba(25, 25, 25, 0.75);
    display: flex;
    justify-content: center;
}

#footer a
{
    vertical-align: middle;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
#menu
{
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu a
{
    text-decoration: none;
}

.menuitem
{
    width: 18vw;
    height: 100%;
    margin-left: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.75);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.menuitem:hover
{
    background-color: rgba(65, 65, 65, 0.25);
}

#logo
{
    height: 50px;
    width: 50px;
    margin: 10px;
    vertical-align: middle;
    align-self: flex-start;
}

#logo:hover
{
    transition: linear 0.1s;
    transform: rotate(45deg);
}

#logo:active
{
    transition: linear 0.15s;
    transform: rotate(90deg);
}

a
{
    text-decoration: none;
}

#artl1
{
    width: 80vw;
    min-width: 650px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 75px;
    padding: 15px;
    padding-left: 30px;
    background-color: rgba(25, 25, 25, 0.75);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
}

#artl2
{
    width: 80vw;
    min-width: 650px;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 75px;
    padding: 15px;
    padding-left: 30px;
    background-color: rgba(25, 25, 25, 0.75);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
}

#artl1 p
{
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-top: 35px;
    max-width: 90%;
    grid-column: 1;
    grid-row: 2;
}

#artl2 p
{
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-top: 35px;
    max-width: 90%;
    grid-column: 2;
    grid-row: 2;
}

#artl1 h3
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 40px;
    grid-column: 1;
    grid-row: 1;
}

#artl2 h3
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 40px;
    grid-column: 2;
    grid-row: 1;
}


#artl1 img
{
    margin: auto;
    height: 90%;
    width: 90%;
    min-width: 250px;
    object-fit: cover;
    grid-column: 2;
    grid-row: 1/3;
}

#artl2 img
{
    margin: auto;
    height: 90%;
    width: 90%;
    min-width: 250px;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1/3;
}

/** nahoře po najetí na raketku vyjede mrdka
